
header {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    color: #ffa;
    background: #011;
    border-bottom: 5px solid #444;
}

header h1 {
    margin: 0;
    padding: 16px;
}

header a h1:hover {
    color: #ffc;
}

header img {
    margin: 0.3em;
    background: #444;
    /* opacity: 0.3; */
    width: 2em;
    border-left: 4px solid #777;
}

header a {
    align-self: center;
}