__pycache__/

/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/public/js
/.repl
*.log
/.env
mindustry-mods
/js/out
.rebel_readline_history