<!DOCTYPE html>
<html>

  <head>
    {% block head %}
    <script type="text/javascript">
      // String of b64 encoded JSON data.
      rawData = JSON.parse(window.atob("{{ data }}"));
    </script>
    <script type="text/javascript" src="out/main.js"></script>

    
    <link rel="stylesheet" type="text/css"
          href="{{ style }}">
    <title>{% block title %}{% endblock %} - Mindustry Mods</title>

    {% endblock %}
  </head>
  
  <body>
    <header>
      {% block header %}
      <a href="/mindustry-mods"><h1>Mindustry Mods</h1></a>
      {% endblock %}
    </header>

    <content>
    {% block content %}{% endblock %}
    </content>

    <footer>
      {% block footer %}
      <a href="https://github.com/SimonWoodburyForget/mindustry-mods/blob/master/CONTRIBUTING.md#adding-mods-to-the-listing">
        Adding mods to this list.
      </a>
      {% endblock %}
    </footer>
    
  </body>

</html>
