{% extends "base.html" %}

{% block title %}Listing{% endblock %}

{% block content %}

<p>This is a currated list of Mindustry mods found on GitHub with authors, descriptions, commit date and stars automatically pulled from the repositories. You can report broken mods, suggest better icons, or add missing mods
  <a href="https://github.com/SimonWoodburyForget/mindustry-mods/blob/master/CONTRIBUTING.md#adding-mods-to-the-listing">
    here</a>.
<p>

<table>

  <thead>
    <caption>List of Mindustry Mods</caption>
    <tr>
      <th>Metadata</th>
      <th>Last Commit</th>
      <th id="sort-stars">Stars</th>
    </tr>
  </thead>
  
  <tbody>    
    {% for mod in mods %}
    <tr>
      <td class="metadata">
        <p>
          <icon>
            <img src="{{ mod.icon_url() }}" onerror="this.style.display='none'"/>
          </icon>
          <a href="{{ mod.endpoint() }}">{{ mod.name }}</a>
          by {{ mod.author }}
          <span class='version'>v{{ mod.version }}</span>
        </p>
        <p class="description">{{ mod.desc[:1].upper() + mod.desc[1:] }}</p>
        <p>
          <a href="{{ mod.link }}">repository</a>
          <a href="{{ mod.archive_link() }}">zip</a>
        </p>
      </td>
      <td class="delta">{{ mod.delta_ago() }} ago</td>
      <td class="stars">{{ mod.stars_fmt() }}</td>
    <tr/>
    {% endfor %}
  </tbody>

</table> 
{% endblock %}
