/* * { border: 1px solid; } */

body {
    margin: 0;
    background: #000;
}

a {
    color: #ffa;
    white-space: nowrap;
}

header {
    margin: 0;
    color: #ffa;
    background: #011;
}

header h1 {
    margin: 0;
    padding: 16px;
    border-bottom: 8px solid #ffa;
}

.description {
    color: #f0f0f0;
}

img {
    width: 50px;
}

a, .description
{ font-family: "Courier New", Courier, monospace; }

img, a, p
{ padding: 4px; }
            

.grid {
    padding: 1em;
}


.wrapper {
    display: flex;
    /* grid-template-columns: 1fr 3fr;  */
}

.links {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

@media (width <= 400px) {
    .wrapper {
        display: grid;
        grid-template-rows: 1fr 3fr; 
    }
    
    .links {
        display: flex;
        flex-flow: row wrap;
    }    
}
