/* * { border: 1px solid; } */

body {
    margin: 0;
    background: #000;
}

a {
    color: #ffa;
    white-space: nowrap;
}

header {
    margin: 0;
    color: #ffa;
    background: #011;
}

header h1 {
    margin: 0;
    padding: 16px;
    border-bottom: 8px solid #ffa;
}

.description {
    color: #f0f0f0;
}

/* img, svg { */
/*     width: 40px; */
/* } */

a, .description
{ font-family: "Courier New", Courier, monospace; }

img, a, p, .description
{
    padding: 4px;
    margin: 0;
}

.wrapper
{ border-bottom: 3px solid #f0f0f0; }

/* ================================================================ */
/* Layout */

.wrapper {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
}

.links {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

@media (width <= 400px) {
    .wrapper {
        display: flex;
        /* grid-template-rows: 1fr 2fr;  */
        flex-flow: column;
    }
    
    .links {
        display: flex;
        flex-flow: row wrap;
    }    
}
