[Unit]
Description=midustry-mods data archiving scripts
Wants=network.target
After=network-online.target

[Service]
Type=simple
User=webadmin
Group=webadmin
ExecStart=mindustry-mods-script run
EnvironmentFile=/web/mindustry-mods/secrets.env

[Install]
WantedBy=multi-user.target