[Unit]
Description=mindustry-mods webserver backend
Wants=network.target
After=network-online.target

[Service]
Type=simple
User=webadmin
Group=webadmin
ExecStart=/web/mindustry-mods/bin/web

[Install]
WantedBy=multi-user.target