
*
{
    font-family: "Courier New", Courier, monospace;
    background: #111;
}

body
{
    color: #ccc;
    margin: 1% 2% 1% 2%;
    font-size: 105%;
}

a
{
    color: #ff1
}

a:link, a:visited
{
    color: #ffa
}

table
{
    margin: 1em;
}

th
{
    padding-top: 1em;
    border-bottom: 1px solid #ddd;
}

td
{
    padding-right: 0.5em;
    padding-top: 0.5em;
    border-bottom: 2px solid #888;
}

td.stars
{
    color: #ff3;
    text-align: center;
}

td.delta
{
    white-space: nowrap;
}

p.description
{
    font-size: 0.9em;
}

p
